
<div class="container center">

    <h4> Member Profile: <i><%= member.name %></i> </h4>

    <section>
        <img src="<%= member.pic_path %>" alt="<%= member.pic_name %>" class="circle main-pic" />
    </section>

    <h5>Name:</h5> <p><%= member.name %> </p>
    <h5>E-mail:</h5> <p><%= member.email %> </p>
    <h5>Username:</h5> <p><%= member.username %> </p>

</div>
