<h2> Hello, <%= member.name %> </h2>

<section>
    <img src="<%= member.pic_path %>" alt="<%= member.pic_name %>" />
</section>

<p>my name: <%= member.name %> </p>
<p>my email: <%= member.email %> </p>
<p>my username: <%= member.username %> </p>


<a href="/allmembers"> Back to Members List </a>
