<h2> Hello, <%= currentUserInfo.name %> </h2>
<img src="<%= currentUserInfo.avatar %>">

<p>my name: <%= currentUserInfo.name %> </p>
<p>my email: <%= currentUserInfo.email %> </p>
<p>my username: <%= currentUserInfo.username %> </p>

<a href="/edit-profile/<%= currentUserInfo._id %>"> Edit my profile </a>
<br>
<a href="/"> Back home </a>
